:root {
  --color-background: #141414;
  --color-background-soft: #222222;
  --color-background-mute: #282828;

  --color-text: white;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: "Rubik";
}

*:focus-visible {
  outline: 1px solid white;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  user-select: none;
}
