:root {
  --color-background: #141414;
  --color-background-soft: #222222;
  --color-background-mute: #282828;

  --color-text: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  user-select: none;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Rubik';
}

*:focus-visible {
  outline: 1px solid white;
}

ul {
  list-style: none;
}

#app {
  line-height: 30px;
}

input,
button {
  padding: 0.5em;
  border: none;
  outline: none;
  color: white;
  font-size: 1em;
}

input {
  background-color: var(--color-background-soft);
}

button {
  cursor: pointer;
}

button.action {
  background-color: lightblue;
  color: black;
}

button.action:hover {
  background-color: #c8e8f3;
  color: black;
}

input:focus {
  outline: 1px solid white;
}
